<%- include("partials/header"); -%>
    <div class="container mt-2">
    <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->
      <div class="row">
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
          <!-- <h4 class="card-title text-right"><i class="material-icons">settings</i></h4> -->
        <img class="img" src="images/electricity.jpg" alt="electricityboard">
            <h5 class="card-title mt-3 mb-3"><a href="/electricityboard">Electricity board</a></h5>
            <p class="card-text">Visit this page to register complaints related to electricity board</p>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
          <!-- <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4> -->
        <img class="img" src="images/water.jpg" alt="waterboard">
            <h5 class="card-title  mt-3 mb-3" ><a href="/waterboard">Water board</a></h5>
            <p class="card-text">Visit this page to register complaints related to waterboard</p>
             <!-- <a href="#" class="btn btn-outline-warning">Contact Us</a> -->

      </div>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
          <!-- <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4> -->
        <img class="img" src="images/road.png" alt="roadboard">
            <h5 class="card-title  mt-3 mb-3"><a href="#">Road Authority</a></h5>
            <p class="card-text">Visit this page to register complaints related to road authority</p>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
          <!-- <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4> -->
        <img class="img" src="images/health.png" alt="healthAuthority">
            <h5 class="card-title  mt-3 mb-3"><a href="#">Health & Welfare Authority</a></h5>
            <p class="card-text">Visit this page to register complaints related to health authority</p>
      </div>
    </div>
    
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
          <!-- <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4> -->
        <img class="img" src="images/sewage.png" alt="sewageboard">
            <h5 class="card-title  mt-3 mb-3"><a href="/sewageboard">Sewage Board</a></h5>
            <p class="card-text">Visit this page to register complaints related to Sewage Board</p>
      </div>
        </div>
      </div>

    </div>
    <%- include("partials/footer"); -%>
  <!-- </body>
</html> -->
