<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>sign up</title>
<link rel="stylesheet" href="/signupp.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">




</head>
<body> -->
<%- include("partials/header"); -%>
<section class="h-100 bg-dark">
<div class="container py-5 h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col">
<div class="card card-registration my-4">
<div class="row g-0">
<div class="col-xl-6 d-none d-xl-block">



<img src="https://images.unsplash.com/photo-1523544545175-92e04b96d26b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bXlzb3JlJTIwcGFsYWNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Sample photo" class="img-fluidreg" >
</div>
<div class="col-xl-6">
<div class="card-body p-md-5 text-black">
<h3 class="mb-5 text-uppercase">User registration form</h3>
<form class="" action="/registration" method="post">




<div class="row">
<div class="col-md-6 mb-4">
<div class="form-outline">
<input type="text" id="form3Example9" name="username"class="form-control form-control-lg" required/>
<label class="form-label" for="form3Example9">First name</label>



</div>
</div>



<div class="col-md-6 mb-4">
<div class="form-outline">
<input type="text" id="form3Example1n" class="form-control form-control-lg" required/>
<label class="form-label" for="form3Example1n">Last name</label>
</div>
</div>
</div>



<div class="row">
<div class="col-md-6 mb-4">
<div class="form-outline">
<input type="text" id="form3Example1m1" class="form-control form-control-lg" required/>
<label class="form-label" for="form3Example1m1">Mother's name</label>
</div>
</div>
<div class="col-md-6 mb-4">
<div class="form-outline">
<input type="text" id="form3Example1n1" class="form-control form-control-lg" required />
<label class="form-label" for="form3Example1n1">Father's name</label>
</div>
</div>
</div>



<div class="form-outline mb-4">
<input type="text" id="form3Example8" class="form-control form-control-lg" required/>
<label class="form-label" for="form3Example8">Address</label>
</div>



<div class="d-md-flex justify-content-start align-items-center mb-4 py-2" >



<h6 class="mb-0 me-4">Gender: </h6>



<div class="form-check form-check-inline mb-0 me-4" >
<input
class="form-check-input"
type="radio"
name="inline"
id="femaleGender"
value="female" required
/>
<label class="form-check-label" for="femaleGender">Female</label>
</div>



<div class="form-check form-check-inline mb-0 me-4">
<input
class="form-check-input"
type="radio"
name="inline"
id="maleGender"
value="male"
/>
<label class="form-check-label" for="maleGender">Male</label>
</div>



<div class="form-check form-check-inline mb-0">
<input
class="form-check-input"
type="radio"
name="inline"
id="otherGender"
value="others"
/>
<label class="form-check-label" for="otherGender">Other</label>
</div>



</div>







<div class="form-outline mb-4">
<input type="text" id="form3Example9" class="form-control form-control-lg" required/>
<label class="form-label" for="form3Example9">DOB</label>
</div>



<div class="form-outline mb-4">
<input type="text" id="form3Example90" class="form-control form-control-lg" name="Pincode" required>



<label class="form-label" for="form3Example90">Pincode</label>
</div>



<div class="form-outline mb-4">
<input type="text" id="form3Example99" class="form-control form-control-lg" required/>
<label class="form-label" for="form3Example99">Phone number</label>
</div>



<div class="form-outline mb-4">
<input type="text" id="form3Example97" class="form-control form-control-lg" required/>
<label class="form-label" for="form3Example97">Email ID</label>
</div>



<div class="d-flex justify-content-end pt-3">
<button type="reset" class="btn btn-light btn-lg">Reset all</button>
<button type="submit" class="btn btn-warning btn-lg ms-2" >Submit form</button>
</div>


</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




</section>
<%- include("partials/footer"); -%>
<!-- </body>
</html> -->
