<%- include("partials/header"); -%>
<form class="" action="/status" method="post">



<input type="text" name="phone" value="">
<button type="submit" name="button" value="">submit</button>
</form>
<!-- <a href="/design">users</a> -->
<%- include("partials/footer"); -%>
